.header {
  padding: 36px 16px 30px 16px;
  background: #eba8b1;
}

.header__container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(116px, 347px) 313px minmax(154px, 482px);
  box-sizing: border-box;
}
.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.menu__link {
  text-decoration: none;
  font-size: 14px;
  font-family: "GilroyMedium", sans-serif;
  color: rgb(119, 11, 29);
  padding-bottom: 3px;
  transition-property: border-bottom;
  transition-duration: 500ms;
  border-bottom: 2px solid #eba8b1;
}
.menu__link:hover {
  border-bottom: 2px solid #821328;
}
.contact {
  font-size: 16px;
  font-family: "GilroyBold", sans-serif;
  color: rgb(255, 255, 255);
  justify-self: end;
}
.info {
  padding: 125px 16px 17px 16px;
  background: #eba8b1;
  overflow: hidden;
}
.info__container {
  display: grid;
  grid-template-columns: minmax(320px, 580px) minmax(320px, 539px);
  justify-items: center;
  grid-column-gap: 14px;
}
.info__block {
  max-width: 580px;
  position: relative;
  z-index: 1;
}
.title {
  font-family: TavolgaFree, sans-serif;
  font-weight: 400;
}
.info__title {
  font-size: 55px;
  color: rgb(255, 255, 255);
  line-height: 1;
  margin-bottom: 60px;
  max-width: 580px;
}
.info__text {
  font-size: 18px;
  font-family: "TavolgaFree",sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.389;
  max-width: 345px;
  margin-bottom: 80px;
}

.info__button {
  font-size: 18px;
  width: 240px;
  height: 60px;
}
.info__image {
  position: relative;
  width: 539px;
  height: 539px;
  text-align: center;
}
.info__img {
  width: 529px;
  height: 438px;
  z-index: 1;
  position: relative;
}
.info__image::before,
.info__image::after {
  content: '';
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  border-radius: 50%;
  z-index: 0;
  width: 200px;
  height: 200px;
  border: 1px solid #821328;
  animation: pulse 3s infinite;

}
.info__image::after {
  animation-delay: 500ms;

}
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: scale(3.5);
    opacity: 0;
  }
}
.description {
  background: #ffefef;
  padding: 120px 16px;
  position: relative;
}
.description__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description__compounds {
  display: flex;
  justify-content: center;
}
.description__compound {
  max-width: 475px;
  margin-right: 149px;
}
.description__title {
  font-size: 45px;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  margin-bottom: 60px;
}
.description__text {
  max-width: 400px;
  font-size: 18px;
  font-family: "GilroyRegular", sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  margin-bottom: 30px;
}
.description__image {
  margin: 60px 0 25px 0;
}
.description__advantages {
  max-width: 1170px;
  display: grid;
  grid-column-gap: 87px;
  grid-template-columns: repeat(4, 220px);
  padding-top: 57px;
}
.positions {
  background: #eba8b1;
  padding: 120px 16px;
}
.positions__title {
  font-size: 45px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 143px;
}
.position {
  display: grid;
  grid-template-columns: repeat(4, 259px);
  grid-column-gap: 29px;
}
.form {
  background: #ffefef;
  padding: 98px 0 120px 0;
}
.form__container {
  display: flex;
  align-items: center;
  position: relative;
}
.form__image {
  margin: 70px 161px 0 30px;
}
.form__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 406px;
  margin-right: 165px;
  z-index: 1;
}
.form__title {
  font-size: 45px;
  color: rgb(51, 25, 7);
  margin-bottom: 41px;
}
.form__info {
  font-size: 18px;
  font-family: "GilroyRegular", sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  margin-bottom: 48px;
}
.form__name {
  font-size: 18px;
  font-family: "GilroyBold", sans-serif;
  color: rgb(18, 10, 6);
  margin-bottom: 7px;
}
.input {
  border: 1px solid rgb(130, 19, 40);
  border-radius: 30px;
  max-width: 293px;
  height: 59px;
  padding: 0 25px;
  box-sizing: border-box;
  background: transparent;
}
.input::placeholder {
  font-size: 15px;
  font-family: "GilroyBold", sans-serif;
  color: rgb(118, 12, 34);
}
.form__input-one {
  margin: 13px 0 40px 0;
}
.form__input {
  margin-top: 15px;
}
.form__button {
  width: 293px;
  height: 59px;
  margin-top: 15px;
  font-size: 18px;
}
.image-strawberry {
  position: absolute;
  left: 2px;
  top: 44px;
  animation: movement 3s infinite;
}
.image-strawberry2 {
  position: absolute;
  bottom: 75px;
  left: 953px;
  animation: movement 3s 500ms infinite;
}
@keyframes movement {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.footer {
  background: #c0707c;
  padding: 73px 16px 62px 16px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.footer__agree {
  font-size: 12px;
  font-family: "GilroyRegular", sans-serif;
  color: rgb(227, 172, 180);
  margin-top: 19px;
}
.footer__two-block {
  text-align: center;
}
.svg-instagram {
  fill: white;
}
.footer__instagram {
  font-size: 16px;
  font-family: "GilroyBold", sans-serif;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}
.present__ellipse {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-image: radial-gradient(#71081e 0%, #d7485c 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition-property: box-shadow;
  transition-duration: 500ms;
  margin-left: 18px;
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.present__ellipse:hover {
  box-shadow: 0px 0px 12.6px 2.4px rgba(130, 19, 40, 0.5);
}
.present__count {
  z-index: 2;
  content: "2";
  font-family: "GilroyMedium", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  color: rgb(119, 10, 29);
  border: 2px solid rgb(119, 10, 29);
  position: absolute;
  top: 0;
  left: 60px;
}
.present__img {
  width: 55%;
  height: 55%;
  position: absolute;
  top: 20px;
  left: 15px;
}
.present__border {
  justify-content: center;
  display: flex;
  border: 2px solid rgb(119, 10, 29);
  border-radius: 10px;
  background-color: rgb(254, 239, 238);
  width: 110px;
  height: 60px;
  position: absolute;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 9px;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s;
  right: 108px;
}
.present__ellipse:hover .present__border {
  transform: translateY(0);
  opacity: 1;
}

.present__border::before {
  border: 10px solid transparent;
  border-left-color: #770A1D;
  position: absolute;
  left: 100%;
  bottom: 20px;
  content:'';
}
.present__border::after {
  border: 10px solid transparent;
  border-left-color: #FEEFEE;
  position: absolute;
  left: 98%;
  bottom: 20px;
  content:''
}
.present__text {
  font-size: 18px;
  font-family: "GilroyMedium", sans-serif;
  color: rgb(119, 10, 29);
  line-height: 1.333;
}
.present__span {
  display: block;
}
.burger {
  display: none;
}
.close {
  display: none;
}

@media screen and (max-width: 1169px) {
  .info__image {
    position: relative;
    right: 16px;
  }
  .description__advantages {
    grid-template-columns: repeat(2, 220px);
    justify-content: center;
  }
  .position {
    grid-template-columns: repeat(2, 259px);
    grid-row-gap: 136px;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px){
  .description__compounds {
    align-items: center;

  }
  .description__image {
    min-width: 220px;
    max-width: 520px;
  }
  .description__img {
    width: 100%;
  }
  .description__compound {
    margin-right: 100px;
  }
  .form__container {
    justify-content: space-between;
    align-items: center;
  }
  .form__image {
    margin-right: 0;
    margin-top: 0;
  }
  .form__item {
    margin-right: 30px;
  }
  .image-strawberry2 {
    left: 870px;
  }
}
@media screen and (max-width: 929px) {
  .info {
    padding-top: 100px;
    padding-bottom: 0;
  }
  .info__container {
    grid-template-columns: 580px 1fr;
    padding-bottom: 270px;
  }
  .info__image {
    position: relative;
    top: 287px;
    left: -436px;
  }
  .info__block {
    margin-right: 0;
  }

  .description {
    padding-bottom: 123px;
    padding-top: 119px;
  }
  .description__compounds {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .description__compound {
    margin-right: 0;
    max-width: 671px;
  }
  .description__title {
    max-width: 475px;
    margin: 0 auto;
  }
  .description__text {
    max-width: 671px;
    margin-bottom: 40px;
    margin-top: 61px;
  }
  .description__image {
    margin-top: 0;
    margin-bottom: 88px;
    max-width: 302px;
    max-height: 183px;
  }
  .description__img {
    width: 100%;
    height: 100%;
  }
  .description__advantages {
    padding-top: 0;
    grid-column-gap: 54px;
    grid-row-gap: 80px;
  }

  .form__container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .form__image {
    order: 2;
    min-width: 308px;
    max-width: 408px;
  }
  .form__img {
    width: 100%;
  }
  .form__item {
    order: 1;
    margin-right: 10px;
  }
  .image-strawberry {
    left: 260px;
    top: -15px;
  }
  .image-strawberry2 {
    left: 370px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: 38px;
    padding-bottom: 38px;
  }
  .header__container {
    grid-template-columns: minmax(116px, 219px) 313px;
  }
  .logo__header {

  }
  .header__contact {
    display: none;
  }
  .info {
    padding-top: 64px;
    padding-bottom: 241px;
  }
  .info__container {
    padding-bottom: 0;
  }
  .info__title {
    margin-bottom: 74px;
  }
  .info__text {
    margin-bottom: 41px;
  }
  .form {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .form__container {
    overflow: hidden;
  }
  .form__image {
    position: absolute;
    top: 238px;
    left: 382px;
    margin: 0;
    width: 352px;
    height: 499px;

  }
  .image-strawberry {
    top: 217px;
    left: 356px;
    width: 72px;
    height: 89px;
  }
  .image-strawberry2 {
    top: 111px;
    left: 594px;
    width: 50px;
    height: 66px;
  }
}
@media screen and (max-width: 729px){
  .info__image {
    left: -480px;
  }
}
@media screen and (max-width: 679px){
  .info{
    padding-bottom: 43px;
  }
  .info__container {
    grid-template-columns: minmax(0, 647px);
  }
  .info__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 679px;
    text-align: center;
  }
  .info__title {
    font-size: 42px;
    margin-bottom: 40px;
  }
  .info__text {
    margin-bottom: 40px;
    max-width: 647px;
  }
  .info__image {
    margin-top: 38px;
    width: 329px;
    height: 338px;
    position: relative;
    top: 0;
    left: 0;
  }
  .info__img {
    width: 100%;
    height: 100%;
  }
  .info__image::before,
  .info__image::after {
    width: 120px;
    height: 120px;
    left: calc(50% - 60px);
    top: calc(50% - 60px);
  }
  .form__item {
    max-width: 344px;
    margin: 0 auto;
  }
  .form__image {
    display: none;
  }
  .input {
    max-width: 344px;
  }
  .form__button {
    width: 100%;
  }
  .image-strawberry {
    top: 190px;
    left: 290px;
    width: 72px;
    height: 89px;
  }
  .image-strawberry__img {
    width: 100%;
    height: 100%;
  }
  .image-strawberry2 {
    display: none;
  }
}
@media screen and (max-width: 579px){
  .header {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .header__container {
    align-items: center;
    grid-template-columns: repeat(1, 134px minmax(100px, 303px));
  }
  .menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background: #000000c9;
    z-index: 300;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
  }
  .menu-item {
    margin: 15px 0;
  }
  .menu__link {
    font-size: 22px;
    color: #eba8b1;
    border: 0;
  }
  .burger {
    display: block;
    justify-self: end;
  }
  .burger__svg {
    width: 36px;
    height: 36px;
    fill: #821328;
  }
  .menu.open {
    display: flex;
    align-items: center;
  }
  .menu .close {
    display: block;
    width: 24px;
    height: 24px;
    fill: #eba8b1;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .description__advantages {
    grid-template-columns: repeat(2, minmax(100px, 220px));
  }
  .position {
    grid-template-columns: 259px;
  }
}
@media screen and (max-width: 479px){
  .info {
    padding-top: 60px;
  }
  .info__title {
    font-size: 32px;
    line-height: 40px;
  }
  .info__text {
    font-size: 16px;
    line-height: 23px;
  }
  .description {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .description__title {
    font-size: 30px;
    margin-bottom: 40px;
    line-height: 35px;
  }
  .description__text {
    margin-top: 0;
    margin-bottom: 59px;
    font-size: 16px;
    line-height: 23px;
  }
  .description__image {
    margin-bottom: 60px;
  }
  .description__advantages {
    grid-column-gap: 15px;
    grid-row-gap: 36px;
  }
  .positions {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .position {
    grid-row-gap: 142px;
  }
  .positions__title {
    font-size: 30px;
    margin-bottom: 122px;
  }
  .form {
    padding-top: 100px;
    padding-bottom: 77px;
  }
  .form__title {
    font-size: 30px;
    margin-bottom: 44px;
  }
  .form__info {
    font-size: 16px;
    margin-bottom: 60px;
    line-height: 23px;
  }
  .form__image {
    left: 310px;
  }
  .image-strawberry {
    top: 133px;
    left: 300px;
  }
  .footer {
    padding-bottom: 101px;
    padding-top: 50px;
  }
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__one-block {
    text-align: center;
    margin-bottom: 2px;
  }
  .footer__logo {
    order: 1;
  }
  .footer__contact {
    order: 2;
    margin-bottom: 40px;
  }
  .footer__two-block {
    order: 3;
  }
  .footer__agree {
    position: relative;
    top: 180px;
    margin-top: 0;
  }
  .present__ellipse {
    width: 60px;
    height: 60px;
    right: 15px;
    bottom: 15px;
  }
  .present__img {
    width: 32px;
    height: 32px;
  }
  .present__border {
    width: 140px;
    height: 60px;
    right: 75px;
  }
  .present__border::before {
    border: 11px solid transparent;
    border-left-color: #770A1D;
    position: absolute;
    left: 100%;
    bottom: 19px;
    content:'';
  }
  .present__span {
    font-size: 12px;
  }
}
@media screen and (max-width: 376px){
  .info__image {
    width: 250px;
    height: 207px;
  }
  .info__image::before,
  .info__image::after {
    width: 90px;
    height: 90px;
    left: calc(50% - 45px);
    top: calc(50% - 45px);
  }
  .image-strawberry {
    left: 290px;
  }
}
@media screen and (max-width: 365px){
  .image-strawberry {
    left: 240px;
  }
}



